<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" routerLink="/">{{title}}</a>
      <ul class="nav navbar-nav">
        <li><a href="#" routerLink="/jobs">Offres</a></li>
        <li><a href="#" routerLink="/jobs/add">Créer une offre</a></li>
        <li><a href="#" routerLink="/about">A propos</a></li>
        <li><a href="#" routerLink="/login" *ngIf="!_authService.userIsLoggedIn()">Connexion</a></li>
        <li><a href="#" routerLink="/profile" *ngIf="_authService.userIsLoggedIn()">Mon Profil</a></li>        
        <li><a href="#" routerLink="/logout" (click)="_authService.logout()" *ngIf="_authService.userIsLoggedIn()">Déconnexion</a></li>
        <li><a href="#" routerLink="/register"  *ngIf="!_authService.userIsLoggedIn()">Créer un compte</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>